<% include ./foundation/_doctype %>
<html <% include ./foundation/_lang %>>

<head>
  <% include ./foundation/_meta %>
  <% include ./foundation/_link %>

  <title>Document</title>
</head>

<body>

<div id="index"></div>
<div id="form"></div>

</body>
</html>